/* Sitewide styles */

body {
  margin: 0;
  padding: 0;
  color: #374543;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 300;
  font-size: 56px;
  color: #fff;
  background-color: #168be5;
}

h2 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 300;
  font-size: 38px;
  color: #168be5;
}

h3 {
  font-family: 'Hind', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #168be5;
}

p {
  font-family: 'Hind', sans-serif;
  font-size: 18px;
}

a {
  color: #168be5;
}

a:hover {
  color: #f9be02;
}

.container-fluid {
  max-width: 1600px;
}

.row {
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  display: block;
}

/* Header styles*/

.main-header {
  color: #168be5;
  padding: 10px;
  text-align: center;
  position: relative;
}

.main-header span {
  font-size: 68px;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 300;
}

.social {
  position: absolute;
  right: 30px;
  top: 50px;
}

.social ul {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
}

.social li {
  display: inline-block;
  padding: 0px 5px;
}

.social a {
  display: block;
  height: 50px;
  width: 50px;
  background-size: contain;
}

.social a:hover {
  opacity: 0.5;
}

.social a.facebook {
  background-image: url(images/facebook.jpg);
  }

.social a.twitter {
    background-image: url(images/twitter.jpg);
  }

.social a.insta {
      background-image: url(images/instagram.jpg);
    }

.social span {
  display: none;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.nav li {
  display: inline-block;
  font-size: 22px;
  font-family: 'Hind', sans-serif;
}

.nav a {
  color: #168be5;
  display: block;
  padding: 10px 30px;
}

.nav a:hover {
  color: #f9be02;
}

/* Footer styles */

.footer {
  padding-top: 20px !important;
  background-color: #E7F3FC;
}

.footer ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

.footer li {
  display: inline-block;
  font-size: 14px;
  font-family: 'Hind', sans-serif;
}

.footer a {
  color: #168be5;
  display: block;
  padding: 0 15px;
}

.footer a:hover {
  color: #f9be02;
}

.footer p {
  font-size: 14px;
  color: #168be5;
}

/* Homepage - hero banner */

.home-banner {
  background-image: url(images/yellow-vw2.jpg);
  background-size: cover;
  height: 500px;
  margin: -20px 0 0 0;
}

.home-banner h2 {
  color: #f9be02;
  padding: 30px;
}

/* Homepage - latest tweets/news row */

.news-block {
  margin: auto;
  background-color: #E7F3FC;
  padding: 30px;
  width: 90%
}

.news-block h2 {
  text-align: center;
}

.news-block p {
  text-align: center;
}

.twitter-timeline {
  width: 100% !important;
}

.news-form {
  padding: 15px;
}

/* Hire a campervan CSS */

.hire-list {
  margin: auto;
  padding: 30px;
  text-align: left;

}

.rent-guide {
  margin: auto;
  width: 94%;
  padding: 30px;
}

.panel-title {
  ont-family: 'Hind', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #168be5;
}

/* Camp grounds CSS */
