/* Sitewide styles */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #374543;
  height: 100%;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 300;
  font-size: 52px;
  color: #fff;
  background-color: #168be5;
  padding: 10px;
}

h2 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 300;
  font-size: 38px;
  color: #168be5;
}

h3 {
  font-family: 'Hind', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #168be5;
}

p {
  font-family: 'Hind', sans-serif;
  font-size: 18px;
}

a {
  color: #168be5;
}

a:hover {
  color: #f9be02;
}

.container-fluid {
  max-width: 1600px;
  padding-bottom: 80px;
  min-height: 100%;
}

.row {
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  display: block;
}

.row.page-title {
  padding: 0;
}

/* Header styles*/

.main-header {
  color: #168be5;
  padding: 10px;
  text-align: center;
  position: relative;
}

.main-header span {
  font-size: 68px;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 300;
}

.social {
  position: absolute;
  right: 30px;
  top: 50px;
}

.social ul {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
}

.social li {
  display: inline-block;
  padding: 0px 5px;
}

.social a {
  display: block;
  height: 50px;
  width: 50px;
  background-size: contain;
}

.social a:hover {
  opacity: 0.5;
}

.social a.facebook {
  background-image: url(images/facebook.jpg);
  }

.social a.twitter {
    background-image: url(images/twitter.jpg);
  }

.social a.insta {
      background-image: url(images/instagram.jpg);
    }

.social span {
  display: none;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.nav li {
  display: inline-block;
  font-size: 22px;
  font-family: 'Hind', sans-serif;
}

.nav a {
  color: #168be5;
  display: block;
  padding: 10px 30px;
}

.nav a:hover {
  color: #f9be02;
}

/* Footer styles */

.footer {
  padding-top: 20px !important;
  background-color: #E7F3FC;
  clear: both;
  height: 80px;
  margin-top: -80px;
}

.footer ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

.footer li {
  display: inline-block;
  font-size: 14px;
  font-family: 'Hind', sans-serif;
}

.footer a {
  color: #168be5;
  display: block;
  padding: 0 15px;
}

.footer a:hover {
  color: #f9be02;
}

.footer p {
  font-size: 14px;
  color: #168be5;
}

/* Homepage - hero banner */

.home-banner {
  background-image: url(images/blue-vw-beach.jpg);
  background-size: cover;
  height: 500px;
}

.home-banner h2 {
  color: #f9be02;
  padding: 30px;
}

/* Homepage - latest tweets/news row */

.news-block {
  margin: auto;
  background-color: #E7F3FC;
  padding: 30px;
  width: 90%
}

.news-block h2 {
  text-align: center;
}

.news-block p {
  text-align: center;
}

.twitter-timeline {
  width: 100% !important;
}

.news-form {
  padding: 25px;
}

.search-form {
  padding:25px;
  width:25%;
}

.btn-group {
  padding:25px;
}

.inputWhere {
  color:#fff;
}
/* Hire a campervan CSS */

.hire-row {
  margin: 0 auto;
  padding:  50px 50px 0 50px;
  text-align: left;
}

.hire-row img {
  width: 100%;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #168be5;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 3em;
  text-align: center;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}

.hovereffect h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  position: relative;
  background-color: transparent;
  padding: 15% 0 10px 0;
  text-align: center;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-20px,0,0);
  transform: translate3d(-20px,0,0);
}

.hovereffect a, .hovereffect p {
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
}

.hovereffect:hover img {
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hire-row p {
  margin-top: 20px;
}

.rent-guide {
  margin: auto;
  padding: 50px;
}

.panel-title {
  font-family: 'Hind', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #168be5;
}

.panel-body ul {
  font-family: 'Hind', sans-serif;
  font-size: 18px;
}

/* Recommeded Camp grounds CSS */


/* Contact us CSS */

.contact-form {
  margin: 0 auto;
  max-width: 600px;
  padding: 30px;
}

.thanks {
  display: none;
  text-align: center;
}

.camper-gif {
  min-height: 261px;
  background-image: url(images/giphy.gif);
  background-size: 480px 261px;
  background-repeat: no-repeat;
  background-position: center;
}

.camper-gif p {
  font-size: 22px;
  position: relative;
  padding: 15px 0 10px 0;
}

/*
.thanks img {
  margin: 0 auto;
}*/

.campground {
margin: auto;
}
